/*  Layout  */

body  {
  padding-top: 50px;
}

  .container  {
    max-width: 1000px;
  }



/*  Jumbotron  */

.jumbotron {
  margin-top: 40px;
  text-align: center;
}



/*  Glyphicon */

.glyphicon  {
  font-size: 3em;
  display: block;
  text-align: center;
  color: red;
}
